<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <div class="top flexcol">
                <h1 class="actorname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
                <div class="combat flexrow">
                    <div class="ini flexrow">
                        <label class="label" title="Initiative" for="ini">INI</label>
                        <span class="value" id="ini">{{data.calc.ini}}</span>
                    </div>
                    <div class="pw flexrow">
                        <label class="label" title="Panzerwert" for="pw">PW</label>
                        <input class="value" type="text" name="data.calc.pw" value="{{data.calc.pw}}" data-dtype="Number" id="pw" />
                    </div>
                    <div class="ap flexrow">
                        <label class="label" title="Aktionspunkte" for="ap">AP</label>
                        <span class="value" id="ap">{{data.calc.ap}}</span>
                    </div>
                </div>
                <div class="lep flexrow">
                    <div class="basis-lep flexrow">
                        <label class="label" for="basis-lep">Basis-LEP</label>
                        <input class="value" type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" id="basis-lep" />
                        <span class="label max"> / {{data.health.max}}</span>
                    </div>
                    <div class="puffer-lep flexrow">
                        <label class="label" for="puffer-lep">Puffer-LEP</label>
                        <input class="value" type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" id="puffer-lep" />
                        <span class="label max"> / {{data.power.max}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="attributes flexrow">
        {{#each data.attributes as |attr key|}}
            <div class="attribute flexrow" data-key="{{key}}">
                <a class="label roll" title="{{attr.label}}" data-action="roll" data-type="attribute">{{key}}</a>
                {{dyn-input class="value" name="data.attributes."+key value=attr.value}}
                <!--<span class="value">{{attr.value}}</span>-->
            </div>
        {{/each}}
        </div>
        <div class="resources flexrow">
            <div class="resource flexrow" data-key="segnungen">
                <label class="label" for="segnungen">Segnungen</label>
                <input class="value" type="text" name="data.resources.segnungen" value="{{data.resources.segnungen}}" data-dtype="Number" id="segnungen" />
                <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
                <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
            </div>
            <div class="resource flexrow" data-key="ideen">
                <label class="label" for="ideen">Ideen [=WIS]
                <!--<span class="fa-stack"><i class="fas fa-stack-1x fa-circle" style="color:yellow"></i><i class="fas fa-stack-1x">I</i></span>-->
                </label>
                <input class="value" type="text" name="data.resources.ideen" value="{{data.resources.ideen}}" data-dtype="Number" id="ideen" />
                <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
                <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
            </div>
            <div class="resource flexrow" data-key="coups">
                <label class="label" for="coups">Coups [=ATH]</label>
                <input class="value" type="text" name="data.resources.coups" value="{{data.resources.coups}}" data-dtype="Number" id="coups" />
                <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
                <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Bio</a>
        <a class="item" data-tab="states">Zustand</a>
        <a class="item" data-tab="attributes">Attribute</a>
        <a class="item" data-tab="skills">Fertigkeiten</a>
        <a class="item" data-tab="powers">Jägerkräfte</a>
        <a class="item" data-tab="combat">Kampf</a>
        <a class="item" data-tab="items">Besitz</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Bio Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="core flexrow">
                <ol class="list-body role-list">
                    <li class="role flexrow">
                        <label class="label" for="role-1">Rolle N<sup><u>o</u></sup>1</label>
                        <input class="value" type="text" name="data.core.role-1" value="{{data.core.role-1}}" id="role-1" />
                    </li>
                    <li class="role flexrow">
                        <label class="label" for="role-2">Rolle N<sup><u>o</u></sup>2</label>
                        <input class="value" type="text" name="data.core.role-2" value="{{data.core.role-2}}" id="role-2" />
                    </li>
                    <li class="role flexrow">
                        <label class="label" for="role-3">Rolle N<sup><u>o</u></sup>3</label>
                        <input class="value" type="text" name="data.core.role-3" value="{{data.core.role-3}}" id="role-3" />
                    </li>
                    <li class="profession flexrow">
                        <label class="label" for="profession">Profession</label>
                        <input class="value" type="text" name="data.core.profession" value="{{data.core.profession}}" id="profession" />
                    </li>
                    <li class="sprachen flexrow">
                        <label class="label" for="sprachen">Sprachen</label>
                        <input class="value" type="text" name="data.core.sprachen" value="{{data.core.sprachen}}" id="sprachen" />
                    </li>
                </ol>
                <ol class="list-body other-list">
                    <li class="level flexrow">
                        <label class="label" for="level">Level</label>
                        <input class="value" type="text" name="data.core.level" value="{{data.core.level}}" data-dtype="Number" id="level" />
                    </li>
                    <li class="motivation flexrow">
                        <label class="label" for="motivation">Motivation</label>
                        <input class="value" type="text" name="data.core.motivation" value="{{data.core.motivation}}" id="motivation" />
                    </li>
                    <li class="motivation-bonus flexrow">
                        <label class="label" for="motivation-bonus"></label>
                        <input class="value" type="text" name="data.core.motivation-bonus" value="{{data.core.motivation-bonus}}" id="motivation" placeholder="Motivationsbonus" />
                    </li>
                    <li class="Verderbnis flexrow">
                        <label class="label" for="verderbnis">Verderbnis</label>
                        <input class="value" type="text" name="data.core.verderbnis" value="{{data.core.verderbnis}}" data-dtype="Number" id="verderbnis" />
                    </li>
                </ol>
            </div>
            
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Zustand Tab --}}
        <div class="tab states" data-group="primary" data-tab="states">
            <div class="top flexrow">
                <div class="erste-hilfe flexcol">
                    <header class="list-header flexrow">
                        <span class="header-label">Heilfaktor</span>
                    </header>
                    
                    <ol class="list-body">
                        <li class="eh flexrow" data-key="eh">
                            <span class="label">Erste Hilfe [EH]</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                        <li class="mh flexrow" data-key="mh">
                            <span class="label">Mag. Heilung & Elixire [MH]</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="einfluesse flexcol">
                    <header class="list-header flexrow">
                        <span class="header-label">Anhaltende Einflüsse</span>
                    </header>
                    
                    <ol class="list-body">
                        <li class="odmg flexrow" data-key="odmg">
                            <span class="label">Äußerer Schaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                        <li class="idmg flexrow" data-key="idmg">
                            <span class="label">Innerer Schaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                        <li class="mdmg flexrow" data-key="mdmg">
                            <span class="label">Malusschaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                        <li class="ldmg flexrow" data-key="ldmg">
                            <span class="label">Lähmungsschaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="zustaende flexcol">
                <header class="list-header flexrow">
                    <span class="checkbox"></span>
                    <span class="label">Zustand</span>
                    <span class="type">Typ</span>
                    <span class="effekt">Nebeneffekt</span>
                    <span class="abbau">Abbau</span>
                    <span class="hilfe">Helfen</span>
                </header>
                
                <ol class="list-body">
                {{#each data.states as |state key|}}
                    <li class="state flexrow" data-attribute="{{key}}">
                        <label class="checkbox"><input type="checkbox" name="data.states.{{key}}.state" {{checked state.state}}/></label>
                        <span class="label">{{key}}</span>
                        <span class="type">{{state.type}}</span>
                        <span class="effekt">{{state.effekt}}</span>
                        <span class="abbau">{{state.abbau}}</span>
                        <span class="hilfe">{{state.hilfe}}</span>
                    </li>
                {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Attribute Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-label">Label</span>
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
            </header>

            <ol class="attributes-list">
            {{#each data.attributes as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <span class="attribute-label">{{attr.label}}</span>
                    <span class="attribute-key">{{key}}</span>
                    {{#if attr.isCheckbox}}
                    <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value" {{checked attr.value}}/></label>
                    {{else}}
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}"/>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Fertigkeiten Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <header class="list-header flexrow">
                <span class="li-label">Fertigkeit</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span>
                <span class="li-control"></span>
                <a class="li-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="list-body">
            {{#each data.skills as |skill key|}}
                <li class="skill flexrow" data-key="{{key}}">
                    <span class="li-label li-text">{{skill.label}}</span>
                    <input class="li-value" type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                    <span class="li-sum li-text">{{skill.summe}}</span>
                    <a class="li-control roll" data-action="roll" data-type="skill"><i class="fas fa-dice"></i></a>
                    <span class="li-control"></span>
                    {{#if skill.isCustom}}
                    <a class="li-control" data-action="delete"><i class="fas fa-trash"></i></a>
                    {{else}}
                    <span class="li-control"></span>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Jägerkräfte Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            TODO: Konstruktionspunkte<br>
            TODO: Jägerkräfte
        </div>

        {{!-- Kampf Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <header class="list-header flexrow">
                <span class="li-label">Waffe dabei?</span>
                <span class="li-schaden" title="Basis-Schaden">SCH</span>
                <span class="li-ap" title="Aktionspunkte">AP</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span> {{!-- Roll Button --}}
                <span class="li-anmerkung">Anmerkung</span>
            </header>

            <ol class="list-body">
            {{#each data.combat as |skill key|}}
                <li class="skill flexrow" data-key="{{key}}">
                    <span class="li-label li-text">{{skill.label}}</span>
                    <span class="li-schaden li-text">{{skill.schaden}}</span>
                    <span class="li-ap li-text">{{skill.ap}}</span>
                    <input class="li-value" type="text" name="data.combat.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                    <span class="li-sum li-text">{{skill.summe}}</span>
                    <a class="li-control roll" data-action="roll" data-type="combat"><i class="fas fa-dice"></i></a>
                    <span class="li-anmerkung li-text">{{skill.anmerkung}}</span>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Besitz Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            TODO: Unterhalt, Vermögen, Beutegut, Kleidung, Rüstung, Ausrüstung
            <ol class="items-list">
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            TODO: Notizfeld
        </div>

        </section>
</form>

