<form class="{{cssClass}}" autocomplete="off">

    {{#*inline "item"}}
    {{! > item id="rolle-1" class="td" type="role" name=data.core.rolle-1 item-id=data.core.rolle-1-id hint=data.core.rolle-1-hint}}
    <div class="{{class}} flexrow item {{type}} allow-break" data-item-id="{{item-id}}">
        {{#if item-id}}
        <a class="value item-edit" id="{{id}}" title="Beschreibung anzeigen">{{name}}</a>
        {{#if editMode}}<a class="controls control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>{{/if}}
        {{else}}
        <div class="hint">{{hint}}</div>
        {{/if}}
    </div>
    {{/inline}}

    {{#*inline "input"}}
    {{! > input id="languages" class="foo" target="data.languages" content=data.languages}}
    {{! log "root:" @root 
        "this:" @this 
        "editMode:" @root.editMode}}
    {{#if @root.editMode}}
    <input {{#if id}} id="{{id}}" {{/if}} 
        class="{{#if (isDefined class)}}{{class}} {{/if}}value" 
        type="text" 
        name="{{target}}{{#if (isDefined content.value)}}.value{{/if}}" 
        value="{{#if (isDefined content.value)}}{{content.value}}{{else}}{{content}}{{/if}}" 
        {{#if content.dtype}}data-dtype="{{content.dtype}}"{{/if}} />
    {{else}}
    <span class="{{#if (isDefined class)}}{{class}} {{/if}}value">
        {{#if (isDefined content.value)}}{{content.value}}{{else}}{{content}}{{/if}}
    </span>
    {{/if}}
    {{/inline}}

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <div class="top flexcol">
                <h1 class="actorname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
                <div class="combat flexrow">
                    <div class="ini flexrow">
                        <label class="label" title="Initiative" for="ini">INI</label>
                        <span class="value" id="ini">{{data.calc.ini}}</span>
                    </div>
                    <div class="pw flexrow">
                        <label class="label" title="Panzerwert" for="pw">PW</label>
                        {{dyn-input class="value" path="data.calc" key="pw" value=data.calc.pw}}
                        <!--<input class="value" type="text" name="data.calc.pw" value="{{data.calc.pw}}" data-dtype="Number" id="pw" />-->
                    </div>
                    <div class="ap flexrow">
                        <label class="label" title="Aktionspunkte" for="ap">AP</label>
                        <span class="value" id="ap">{{data.calc.ap}}</span>
                    </div>
                </div>
                <div class="lep flexrow">
                    <div class="basis-lep flexrow" data-key="data.health.value">
                        <label class="label" for="basis-lep">Basis-LEP</label>
                        {{#inc-btn}}<input class="value" type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" id="basis-lep" />{{/inc-btn}}
                        <span class="label max" title="Maximum"> / {{data.health.max}}</span>
                    </div>
                    <div class="puffer-lep flexrow" data-key="data.power.value">
                        <label class="label" for="puffer-lep">Puffer-LEP</label>
                        {{#inc-btn}}<input class="value" type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" id="puffer-lep" />{{/inc-btn}}
                        <span class="label max" title="Maximum"> / {{data.power.max}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="attributes flexrow">
        {{#each data.attributes as |attr key|}}
            <div class="attribute flexrow" data-key="{{key}}">
                <a class="label roll" title="{{attr.label}}" data-action="roll" data-type="attribute">{{key}}</a>
                {{dyn-input class="value" path="data.attributes" key=key target="value" value=attr.value}}
                <!--<span class="value">{{attr.value}}</span>-->
            </div>
        {{/each}}
        </div>
        <div class="resources flexrow">
                <!--<span class="fa-stack"><i class="fas fa-stack-1x fa-circle" style="color:yellow"></i><i class="fas fa-stack-1x">I</i></span>-->
            {{#each header-resources as |res key|}}
            <div class="resource flexrow" data-key="data.resources.{{key}}">
                <label class="label" for="{{key}}">{{res.label}}</label>
                {{#inc-btn}}<input class="value" type="text" name="data.resources.{{key}}" value="{{res.value}}" data-default="{{res.default}}" data-dtype="Number" id="{{key}}" />{{/inc-btn}}
                {{#if res.max}}
                <span class="label max" title="Maximum">&nbsp;/&nbsp;{{res.max}}</span>
                {{else if res.default}}
                <span class="label max" title="Default - Zum Setzen klicken">&nbsp;/&nbsp;<a class="set-default" data-action="default">{{res.default}}</a></span>
                {{else}}
                <span class="label max"></span>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="biography"><div class="item-bg">Bio</div></a>
        <a class="item" data-tab="states"><div class="item-bg">Zustand</div></a>
        <a class="item" data-tab="skills"><div class="item-bg">Fertigkeiten</div></a>
        <a class="item" data-tab="powers"><div class="item-bg">Jägerkräfte</div></a>
        <a class="item" data-tab="combat"><div class="item-bg">Kampf</div></a>
        <a class="item" data-tab="items"><div class="item-bg">Besitz</div></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Bio Tab --}}
        <div class="tab biography scroll-y" data-group="primary" data-tab="biography">
            <header class="block-header">Basiswerte</header>
            <div class="table table-1">
                <div class="tr">
                    <label class="td label" for="rolle-1">Rolle №1</label>
                    {{> item id="rolle-1" class="td" type="role" name=data.core.rolle-1 item-id=data.core.rolle-1-id hint=data.core.rolle-1-hint}}
                </div>
                <div class="tr">
                    <label class="td label" for="rolle-2">Rolle №2</label>
                    {{> item id="rolle-2" class="td" type="role" name=data.core.rolle-2 item-id=data.core.rolle-2-id hint=data.core.rolle-2-hint}}
                </div>
                <div class="tr">
                    <label class="td label" for="rolle-3">Rolle №3</label>
                    {{> item id="rolle-3" class="td" type="role" name=data.core.rolle-3 item-id=data.core.rolle-3-id hint=data.core.rolle-3-hint}}
                </div>
                <div class="tr">
                    <label class="td label" for="profession">Profession</label>
                    {{> item id="profession" class="td" type="profession" name=data.core.profession item-id=data.core.profession-id hint=data.core.profession-hint}}
                </div>
                <div class="tr">
                    <label class="td label" for="languages">Sprachen</label>
                    <div class="td flexrow languages">
                        {{> input id="languages" target="data.languages" content=data.languages}}
                    </div>
                </div>
            </div>
            <div class="table table-2">
                <div class="tr">
                    <label class="td label" for="level">Jägerstufe</label>
                    <div class="td flexrow level">
                        {{> input id="level" target="data.level" content=data.level}}
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="motivation">Motivation</label>
                    <div class="td flexcol">
                        {{> item id="motivation" type="motivation" name=data.core.motivation item-id=data.core.motivation-id hint=data.core.motivation-hint}}
                        {{!-- using {{{ }}} to allow HTML code to pass through unescaped --}}
                        <div id="motivation-bonus" class="note allow-break">{{{data.core.motivation-bonus}}}</div>    
                    </div>
                </div>
                <div class="tr">
                    <label class="td label" for="vitiation">Verderbnis</label>
                    <div class="td flexrow vitiation">
                        {{> input id="vitiation" target="data.vitiation" content=data.vitiation}}
                    </div>
                </div>
            </div>

            <div class="seperator"></div>
            
            <header class="block-header">Notizen</header>
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Zustand Tab --}}
        <div class="tab states scroll-y" data-group="primary" data-tab="states">
            <div class="top flexrow">
                <div class="erste-hilfe flexcol">
                    <header class="list-header flexrow">
                        <span class="header-label">Heilfaktor</span>
                    </header>
                    
                    <!-- TODO: dynamisch erzeugen -->
                    <ol class="list-body">
                        <li class="eh flexrow" data-key="data.resources.eh">
                            <span class="label">Erste Hilfe [EH]</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.eh" value={{data.resources.eh}} data-dtype="Number" />
                        </li>
                        <li class="mh flexrow" data-key="data.resources.mh">
                            <span class="label">Mag. Heilung & Elixire [MH]</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.mh" value={{data.resources.mh}} data-dtype="Number" />
                        </li>
                    </ol>
                </div>
                <div class="einfluesse flexcol">
                    <header class="list-header flexrow">
                        <span class="header-label">Anhaltende Einflüsse</span>
                    </header>
                    
                    <!-- TODO: dynamisch erzeugen -->
                    <ol class="list-body">
                        <li class="odmg flexrow" data-key="data.resources.odmg">
                            <span class="label">Äußerer Schaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.odmg" value={{data.resources.odmg}} data-dtype="Number" />
                        </li>
                        <li class="idmg flexrow" data-key="data.resources.idmg">
                            <span class="label">Innerer Schaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.idmg" value={{data.resources.idmg}} data-dtype="Number" />
                        </li>
                        <li class="mdmg flexrow" data-key="data.resources.mdmg">
                            <span class="label">Malusschaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.mdmg" value={{data.resources.mdmg}} data-dtype="Number" />
                        </li>
                        <li class="ldmg flexrow" data-key="data.resources.ldmg">
                            <span class="label">Lähmungsschaden</span>
                            <span class="controls">
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                                <a class="control" data-action="increase"><i class="fas fa-times fa-lg fa-inverse"></i></a>
                            </span>
                            <input type="hidden" name="data.resources.ldmg" value={{data.resources.ldmg}} data-dtype="Number" />
                        </li>
                    </ol>
                </div>
            </div>
            <div class="zustaende flexcol">
                <header class="list-header flexrow">
                    <span class="checkbox"></span>
                    <span class="label">Zustand</span>
                    <span class="type">Typ</span>
                    <span class="effekt">Nebeneffekt</span>
                    <span class="abbau">Abbau</span>
                    <span class="hilfe">Helfen</span>
                </header>
                
                <ol class="list-body">
                {{#each data.states as |state key|}}
                    <li class="state flexrow" data-attribute="{{key}}">
                        <label class="checkbox"><input type="checkbox" name="data.states.{{key}}.state" {{checked state.state}}/></label>
                        <span class="label">{{key}}</span>
                        <span class="type">{{state.type}}</span>
                        <span class="effekt">{{state.effekt}}</span>
                        <span class="abbau">{{state.abbau}}</span>
                        <span class="hilfe">{{state.hilfe}}</span>
                    </li>
                {{/each}}
                </ol>
            </div>

            <div class="seperator"></div>
            
            <header class="list-header flexrow">
                <span class="header-label">Notizen</span>
            </header>
            {{editor content=data.states-text target="data.states-text" button=true owner=owner editable=editable}}
        </div>

        {{!-- Fertigkeiten Tab --}}
        <div class="tab skills scroll-y" data-group="primary" data-tab="skills">
            <header class="list-header flexrow">
                <span class="li-label">Fertigkeit</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span>
                <span class="li-control"></span>
                <a class="li-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="list-body">
            {{#each data.skills as |skill key|}}
                <li class="skill flexrow" data-key="{{key}}">
                    <span class="li-label li-text">{{skill.label}}</span>
                    {{dyn-input class="li-value li-text" path="data.skills" key=key target="value" value=skill.value}}
                    <!--input class="li-value" type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/-->
                    <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                    <span class="li-sum li-text">{{skill.summe}}</span>
                    <a class="li-control roll" data-action="roll" data-type="skill"><i class="fas fa-dice"></i></a>
                    <span class="li-control"></span>
                    {{#if skill.isCustom}}
                    <a class="li-control" data-action="delete"><i class="fas fa-trash"></i></a>
                    {{else}}
                    <span class="li-control"></span>
                    {{/if}}
                </li>
            {{/each}}
            </ol>

            <div class="seperator"></div>

            <header class="list-header flexrow">
                <span class="header-label">Notizen</span>
            </header>
            {{editor content=data.skills-text target="data.skills-text" button=true owner=owner editable=editable}}
        </div>

        {{!-- Jägerkräfte Tab --}}
        <div class="tab powers scroll-y" data-group="primary" data-tab="powers">
            TODO: Konstruktionspunkte<br>
            TODO: Jägerkräfte
            
            <div class="seperator"></div>

            <header class="list-header flexrow">
                <span class="header-label">Notizen</span>
            </header>
            {{editor content=data.powers-text target="data.powers-text" button=true owner=owner editable=editable}}
        </div>

        {{!-- Kampf Tab --}}
        <div class="tab combat scroll-y" data-group="primary" data-tab="combat">
            <header class="list-header flexrow">
                <span class="li-label">Waffe</span>
                <span class="li-schaden" title="Basis-Schaden">SCH</span>
                <span class="li-ap" title="Aktionspunkte">AP</span>
                <span class="li-value" title="Fertigkeitswert">FW</span>
                <span class="li-attr">Attribut</span>
                <span class="li-sum">Summe</span>
                <span class="li-control"></span> {{!-- Roll Button --}}
                <span class="li-anmerkung">Anmerkung</span>
            </header>

            <ol class="list-body">
            {{#each data.combat as |skill key|}}
                <li class="skill flexrow" data-key="{{key}}">
                    <span class="li-label li-text">{{skill.label}}</span>
                    <span class="li-schaden li-text">{{skill.schaden}}</span>
                    <span class="li-ap li-text">{{skill.ap}}</span>
                    {{dyn-input class="li-value li-text" path="data.combat" key=key target="value" value=skill.value}}
                    <!--input class="li-value" type="text" name="data.combat.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/-->
                    <span class="li-attr li-text" title="{{skill.attrLabel}}: {{skill.attrValue}}">[ +{{skill.attribute}} ]</span>
                    <span class="li-sum li-text">{{skill.summe}}</span>
                    <a class="li-control roll" data-action="roll" data-type="combat"><i class="fas fa-dice"></i></a>
                    <span class="li-anmerkung li-text">{{skill.anmerkung}}</span>
                </li>
            {{/each}}
            </ol>
            
            <div class="seperator"></div>

            <header class="list-header flexrow">
                <span class="header-label">Notizen</span>
            </header>
            {{editor content=data.combat-text target="data.combat-text" button=true owner=owner editable=editable}}
        </div>

        {{!-- Besitz Tab --}}
        <div class="tab items scroll-y" data-group="primary" data-tab="items">
            TODO: Unterhalt, Vermögen, Beutegut, Kleidung, Rüstung, Ausrüstung
            <ol class="items-list">
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>

            <div class="seperator"></div>

            <header class="list-header flexrow">
                <span class="header-label">Notizen</span>
            </header>
            {{editor content=data.items-text target="data.items-text" button=true owner=owner editable=editable}}
        </div>

        </section>
</form>

