<form class="hexxen roller" autocomplete="off">
    <div class="flexrow">
        <span>Typ: {{data.type}}</span>
        <span>Key: {{data.key}}</span>
        <span>Label: {{data.label}}</span>
        <span>Modifier: {{data.modifier}}</span>
        <span>Wert: {{data.value}}</span>
    </div>
    <div class="dice flexcol">
    {{#each dice as |die key|}}
        <div class="die flexrow" data-key="{{key}}">
            <span class="label">{{die}}</span>
            <input class="value" type="text" name="dice.{{key}}" value="{{#if key=='h'}}data.value{{else}}0{{/if}}" data-dtype="Number"/>
            <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
            <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
        </div>
    {{/each}}
    </div>
    <button type="submit" name="submit">
      <i class="fas fa-dice"></i>
      Würfeln
    </button>
</form>