<form class="hexxen roller" autocomplete="off">
    <div class="flexrow">
    {{#if data.manual }}
        <input class="value" type="text" name="comment" value="{{data.label}}" />
    {{else}}
        <span>Label: {{data.label}}</span>
        <input class="value" type="hidden" name="comment" value="{{data.label}}" />
    {{/if}}
        <span>Wert: {{data.value}}</span>
    </div>
    <div class="dice flexcol">
    {{#each data.dice as |die key|}}
        <div class="die flexrow" data-key="{{key}}">
            <span class="label">{{die.label}}</span>
            <input class="value" type="text" name="dice.{{key}}" value="{{die.count}}" data-dtype="Number"/>
            <a class="control" data-action="decrease"><i class="fas fa-minus"></i></a>
            <a class="control" data-action="increase"><i class="fas fa-plus"></i></a>
        </div>
    {{/each}}
    </div>
    <button type="submit" name="submit">
      <i class="fas fa-dice"></i>
      Würfeln
    </button>
</form>