<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="type-img" src="{{img}}" title="{{type}}"/>
        <h1 class="name">
            <div class="value value-box">{{name}}</div>
        </h1>
        <div class="refs flexrow">
            <div class="origin">{{origin}}</div>
            <div class="sources">
                [ Quelle(n):
                {{#each item.data.references}}
                <span class="source">
                    {{#if this.link}}<a href="{{this.link}}">{{/if
                    }}{{this.source}}{{#if this.page}}, Seite {{this.page}}{{/if
                    }}{{#if this.link}}</a>{{/if}}
                </span>
                {{#unless @last}} | {{/unless}}
                {{/each}}
                ]
            </div>
        </div>
        <div class="warnings" {{#unless warnings}}style="display:none"{{/unless}}>
            {{#with warnings}}
            {{#if deprecated}}
            <i class="fas fa-exclamation-triangle"></i> Veraltet! Bitte austauschen!
            {{else if bad}}
            <i class="fas fa-unlink"></i> Fehlerhafte oder unvollständige Compendium Info! Es kann keine Prüfung auf Updates durchgeführt werden!
            {{else if update}}
            <i class="fas fa-cloud-upload-alt"></i> Update verfügbar!
            {{/if}}
            {{/with}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description"><div class="item-bg">Beschreibung</div></a>
        {{#if data.powers}}
        <a class="item" data-tab="powers"><div class="item-bg">Jägerkräfte</div></a>
        {{/if}}
        {{#if data.features}}
        <a class="item" data-tab="features"><div class="item-bg">Effekte</div></a>
        {{/if}}
        <!--<a class="item" data-tab="extras"><div class="item-bg">Extras</div></a>-->
        <!--<a class="item" data-tab="rules"><div class="item-bg">Regeln</div></a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <header class="block-header">Beschreibung</header>
            {{!-- TODO: Workaround für editable=false via CSS display:none, da editable=false den Editor aktiviert --}}
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

            <div class="extras">
                {{#if (isDefined data.qualification)}}
                <label class="label" for="qualification">Voraussetzung:</label>
                <div id="qualification" class="qualification">{{data.qualification}}</div>
                {{/if}}
                {{#if (isDefined data.create)}}
                <label class="label" for="create">
                    Startausrüstung
                    <i class="fas fa-info-circle" title="Nur für Rolle №1."></i>:
                </label>
                <div id="create" class="create">
                    {{!-- create might contain HTML-Markup, therefore tripple {} --}}
                    {{{data.create}}}<br>
                    <span class="hint">(Zum Ausrüsten den Gegenstand auf den Charakterbogen ziehen.)</span>
                </div>
                {{/if}}
                {{#if (isDefined data.upkeep)}}
                <label class="label" for="upkeep">Unterhalt:</label>
                <div id="upkeep" class="upkeep">{{data.upkeep}} Gulden</div>
                {{/if}}
            </div>

            <header class="block-header">
                Zusammenfassung für Charakterbogen
                <i class="fas fa-info-circle" title="Ist eine Zusammenfassung vorhanden, so wird diese anstelle der Beschreibung im Charkterbogen angezeigt."></i>
            </header>
            {{editor content=data.summary target="data.summary" button=true owner=owner editable=editable}}

            {{!-- TODO: tags --}}
            <div class="last"> </div>
        </div>

        {{!-- Jägerkräfte Tab --}}

        {{#*inline "entity-link"}}
        <a class="entity-link{{#if this.learned}} learned{{/if}}" data-action="open" data-pack="{{this.pack}}" data-lookup="{{this.id}}" draggable="true">{{this.name}}</a>
        {{/inline}}

        <div class="tab powers" data-group="primary" data-tab="powers">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen die Jägerkraft auf den Charakterbogen ziehen.</div>
            {{!-- TODO: Darstellung learned, noch nicht lernbar --}}
            <header class="block-header">Allgemeine Jägerkräfte (2 JP)</header>
            {{#each powers.jaeger}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.jaeger}}
            <div class="hint">Die {{type}} {{name}} enthält keine Allgemeinen Jägerkräfte.</div>
            {{/unless}}

            <header class="block-header">Espritkräfte (3 JP)</header>
            {{#each powers.esprit}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.esprit}}
            <div class="hint">Die {{type}} {{name}} enthält keine Espritkräfte.</div>
            {{/unless}}

            <header class="block-header">Ausbaukräfte (1 JP / Effekt)</header>
            {{#each powers.ausbau}}
            <div class="power">
                <div>{{>entity-link this}}</div>
                {{!-- TODO: Darstellung der Features --}}
                {{#each this.features}}
                <div>({{this.marker}}) {{>entity-link this}}</div>
                {{/each}}
            </div>
            {{/each}}
            {{#unless powers.ausbau}}
            <div class="hint">Die {{type}} {{name}} enthält keine Ausbaukräfte.</div>
            {{/unless}}

            <div class="last"> </div>
        </div>

        {{!-- Effekte Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen den Effekt auf den Charakterbogen ziehen.</div>
            {{!-- TODO: Darstellung learned, noch nicht lernbar --}}
            {{!-- TODO: Darstellung der Features --}}
            <header class="block-header">Effekte (1 JP)</header>
            {{#each data.features}}
            <div>({{this.marker}}) {{>entity-link this}}</div>
            {{/each}}
        </div>

        {{!-- Extras Tab --}}
        <div class="tab extras" data-group="primary" data-tab="extras">
        </div>

        {{!-- Rules Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
        </div>

    </section>
</form>
