{{#*inline "input"}}
{{! example: >input id="languages" class="foo" target="data.languages" content=data.languages}}
{{#if log}}
{{log "root:" @root
    "this:" @this
    "editMode:" @root.editMode}}
{{/if}}
{{#unless @root.locked}}
<input {{#if id}} id="{{id}}" {{/if}}
    class="{{#if (isDefined class)}}{{class}} {{/if}}value"
    type="text"
    name="{{#if base-target}}{{base-target}}.{{/if}}{{target}}{{#if (isDefined content.value)}}.value{{/if}}"
    value="{{#if (isDefined content.value)}}{{content.value}}{{else}}{{content}}{{/if}}"
    {{! TODO: dtype besser lösen }}
    {{#if content.dtype}}data-dtype="{{content.dtype}}"{{/if}}
    {{#if dtype}}data-dtype="{{dtype}}"{{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
{{else}}
<span class="{{#if (isDefined class)}}{{class}} {{/if}}value">
    {{~#if html ~}}
    {{#if (isDefined content.value)}}{{{content.value}}}{{else}}{{{content}}}{{/if}}
    {{~else~}}
    {{#if (isDefined content.value)}}{{content.value}}{{else}}{{content}}{{/if}}
    {{~/if~}}
</span>
{{/unless}}
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="type-img" src="{{img}}" {{#unless locked}}data-edit="img"{{/unless}} title="{{type}}"/>
        <h1 class="name">
            {{>input class="value-box" target="name" content=name placeholder="Name"}}
        </h1>
        <div class="refs flexrow">
            <div class="origin">{{origin}}</div>
            <div class="sources">
                [ {{#if custom}}Custom{{/if~}}
                {{#if (and custom item.data.references)}} | {{/if~}}
                {{#if item.data.references ~}}
                Quelle(n):
                {{#each item.data.references}}
                {{#unless @root.locked}}
                    {{!-- ACHTUNG: innerhalb #each! Geänderter Kontext! --}}
                    {{>input class="value-box" target="data.references.0.source" content=source placeholder="Quelle"}}
                {{else}}
                    <span class="source">
                        {{#if this.link}}<a href="{{this.link}}">{{/if
                        }}{{this.source}}{{#if this.page}}, Seite {{this.page}}{{/if
                        }}{{#if this.link}}</a>{{/if}}
                    </span>
                    {{#unless @last}} | {{/unless}}
                {{/unless}}
                {{/each}}
                {{/if}}
                ]
            </div>
        </div>
        <div class="warnings" {{#unless warnings}}style="display:none"{{/unless}}>
            {{#with warnings}}
            {{#if deprecated}}
            <i class="fas fa-exclamation-triangle"></i> Veraltet! Bitte austauschen!
            {{else if bad}}
            <i class="fas fa-unlink"></i> Fehlerhafte oder unvollständige Compendium Info! Es kann keine Prüfung auf Updates durchgeführt werden!
            {{else if update}}
            <i class="fas fa-cloud-upload-alt"></i> Update verfügbar!
            {{/if}}
            {{/with}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description"><div class="item-bg">Beschreibung</div></a>
        {{#if data.powers}}
        <a class="item" data-tab="powers"><div class="item-bg">Jägerkräfte</div></a>
        {{/if}}
        {{#if data.features}}
        <a class="item" data-tab="features"><div class="item-bg">Effekte</div></a>
        {{/if}}
        <a class="item rules-tab" data-tab="rules"><div class="item-bg"><i class="fas fa-cogs"></i></div></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{#if (eq item.type "npc-power")}}
            <header class="block-header">{{data.type}}</header>
            {{else}}
            <header class="block-header">Beschreibung</header>
            {{/if}}
            {{!-- TODO: Workaround für editable=false via CSS display:none, da editable=false den Editor aktiviert --}}
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

            <div class="extras">
                {{#if (or (not locked) data.qualification)}}
                {{!-- TODO: nur bei Professionen? --}}
                <label class="label" for="qualification">Voraussetzung:</label>
                <div id="qualification" class="qualification">{{>input target="data.qualification" content=data.qualification}}</div>
                {{/if}}
                {{#if (or (not locked) data.create)}}
                <label class="label" for="create">
                    Startausrüstung:
                    <i class="fas fa-info-circle" title="Nur für Rolle №1 oder wenn bei Erstellung gelernt."></i>
                </label>
                <div id="create" class="create">
                    {{!-- create might contain HTML-Markup, therefore tripple {} --}}
                    {{>input target="data.create" content=data.create html=true log=true ~}}<br>
                    {{#if (not locked) ~}}
                    <span class="hint">(Kann Compendium Links enthalten.)</span>
                    {{else~}}
                    {{!-- TODO: nur anzeigen, falls auch Gegenstände enthalten --}}
                    <span class="hint">(Zum Ausrüsten den Gegenstand auf den Charakterbogen ziehen.)</span>
                    {{/if}}
                </div>
                {{/if}}
                {{#if (or (not locked) data.upkeep)}}
                <label class="label" for="upkeep">Unterhalt:</label>
                <div id="upkeep" class="upkeep">{{>input class="short" target="data.upkeep" content=data.upkeep}} Gulden</div>
                {{/if}}

                {{!-- Ab hier für NSC-Kräfte --}}
                {{#if (isNSC item.type)}}
                    {{#if (isDefined data.target)}}
                    <label class="label" for="target">Ziel:</label>
                    <div id="target" class="target">{{data.target}}</div>
                    {{/if}}
                    {{#if (isDefined data.cost)}}
                    <label class="label" for="cost">Kosten:</label>
                    <div id="cost" class="cost">{{data.cost}}</div>
                    {{/if}}
                    {{#if (isDefined data.syntax)}}
                    <label class="label" for="syntax">Syntax:</label>
                    <div id="syntax" class="syntax">{{data.syntax}}</div>
                    {{/if}}
                {{/if}}
            </div>

            {{!-- FIXME: muss das irgendwo verborgen werden?? --}}
            {{! #if (isDefined data.summary)}}
            <header class="block-header">
                Zusammenfassung für den Charakterbogen
                <i class="fas fa-info-circle" title="Ist eine Zusammenfassung vorhanden, so wird diese anstelle der Beschreibung im Charkterbogen angezeigt."></i>
            </header>
            {{editor content=data.summary target="data.summary" button=true owner=owner editable=editable}}
            {{! /if}}

            {{!-- TODO: tags --}}
            <div class="last"> </div>
        </div>

        {{!-- Jägerkräfte Tab --}}

        {{#*inline "entity-link"}}
        {{#if this.learned}}
        <i class="fas fa-scroll" title="gelernt"></i>
        {{else if this.locked}}
        <i class="fas fa-lock" title="Voraussetzung nicht erfüllt"></i>
        {{/if}}
        <a class="entity-link{{#if this.learned}} learned{{/if}}" data-action="open" data-pack="{{this.pack}}" data-lookup="{{this.id}}" draggable="true">{{this.name}}</a>
        {{/inline}}

        <div class="tab powers" data-group="primary" data-tab="powers">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen die gewünschte Jägerkraft auf den Charakterbogen ziehen.</div>
            <header class="block-header hint">Allgemeine Jägerkräfte (2 JP)</header>
            {{#each powers.jaeger}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.jaeger}}
            <div class="hint">Die {{type}} {{name}} enthält keine Allgemeinen Jägerkräfte.</div>
            {{/unless}}

            <header class="block-header hint">Espritkräfte (3 JP)</header>
            {{#each powers.esprit}}
            <div class="power">{{>entity-link this}}</div>
            {{/each}}
            {{#unless powers.esprit}}
            <div class="hint">Die {{type}} {{name}} enthält keine Espritkräfte.</div>
            {{/unless}}

            <header class="block-header hint">Ausbaukräfte (1 JP / Effekt)</header>
            <div class="hint">
                <i class="fas fa-info-circle"></i>
                <div class="inline">Voraussetzungen: (G)eselleneffekt: Stammeffekt , (E)xperteneffekt: mind. 2 Geselleneffekte,
                (M)eistereffekt: mind. 2 Experteneffekte.</div>
            </div>
            {{#each powers.ausbau}}
            <div class="power">
                <div>{{>entity-link this}}</div>
                {{#each this.features}}
                <div><span class="marker">({{this.marker}})</span> {{>entity-link this}}</div>
                {{/each}}
            </div>
            {{/each}}
            {{#unless powers.ausbau}}
            <div class="hint">Die {{type}} {{name}} enthält keine Ausbaukräfte.</div>
            {{/unless}}

            <div class="last"> </div>
        </div>

        {{!-- Effekte Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <div class="hint"><i class="fas fa-info-circle"></i> Zum Lernen den Effekt auf den Charakterbogen ziehen.</div>
            <header class="block-header hint">Stammeffekt (1 JP)</header>
            {{#each features.S}}
            <div class="feature stamm">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Geselleneffekte (1 JP, Stammeffekt)</header>
            {{#each features.G}}
            <div class="feature geselle">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Experteneffekte (1 JP, mind. 2 Geselleneffekte)</header>
            {{#each features.E}}
            <div class="feature experte">{{>entity-link this}}</div>
            {{/each}}
            <header class="block-header hint">Meistereffekte (1 JP, mind. 2 Experteneffekte)</header>
            {{#each features.M}}
            <div class="feature meister">{{>entity-link this}}</div>
            {{/each}}

            <div class="last"> </div>
        </div>

        {{!-- Rules Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            <header class="block-header">Automatisierungsregeln</header>
            <header class="block-header">Aktive Effekte</header>

            <div class="last"> </div>
        </div>

    </section>
</form>
