::selection {
  background: #81a8e6;
}

img#hexxen-logo {
  position: absolute;
  left: 110px;
  top: 2px;
  z-index: 60;
  border: none;
}
#navigation {
  left: 230px;
}
#loading {
  left: 240px;
  width: calc(100% - 560px);
}

.hexxen {
  --hexxen-light-color: rgb(185, 145, 95);
  --hexxen-dark-color: rgb(120, 55, 60);

  --hexxen-title-color: var(--hexxen-dark-color);
  --hexxen-minimized-title-color: rgba(120, 55, 60, 0.75);
  --hexxen-sheet-background-image: url("/systems/hexxen-1733/img/parchment_red.png");
  --hexxen-sheet-background-color: rgb(215, 210, 200);

  --hexxen-label-color: var(--hexxen-dark-color);
  --hexxen-hint-color: var(--hexxen-dark-color);
  --hexxen-alert-color: red;
  --hexxen-warning-bgcolor: yellow;
  --hexxen-warning-border: 1px solid orange;

  --hexxen-highlight-even-color: rgba(255, 255, 255, 0.5);
  --hexxen-highlight-odd-color: rgba(140, 40, 20, 0.15);
  --hexxen-highlight-hover-color:rgba(140, 40, 20, 0.3);

  --hexxen-value-span-bgcolor: rgba(255, 255, 255, 0.3);
  --hexxen-value-span-border: 1px solid var(--hexxen-dark-color);
  --hexxen-input-bgcolor: rgba(255, 255, 255, 0.8);
  --hexxen-input-bordercolor: var(--hexxen-dark-color);
  --hexxen-input-placeholder-color: var(--hexxen-light-color);
  --hexxen-editor-bgcolor: var(--hexxen-input-bgcolor);
  --hexxen-editor-border: 1px solid var(--hexxen-dark-color);

  --hexxen-box-border: 1px solid var(--hexxen-dark-color);
  --hexxen-nav-background-image: url("/systems/hexxen-1733/img/Rabenkasten_oben_small_braun.png");
  --hexxen-nav-bgcolor: rgba(80, 30, 0, 0.4);
  --hexxen-nav-border: unset;
  --hexxen-nav-active-bgcolor: var(--hexxen-nav-bgcolor);
  --hexxen-header-color: var(--hexxen-dark-color);
  --hexxen-header-bgcolor: rgba(130, 50, 0, 0.3);
  --hexxen-header-border: 1px solid rgb(170, 120, 75);
  --hexxen-outline-color: var(--hexxen-light-color);
  --hexxen-table-border: 1px solid var(--hexxen-highlight-even-color);
  --hexxen-seperator-image: url("/systems/hexxen-1733/img/Rabenkasten_weit_unten_small_braun.png");

  --hexxen-chat-dice-size: 24px;

  scrollbar-color: var(--hexxen-light-color) var(--hexxen-dark-color);

  /* TODO: Absolute Pfadangaben für Grafiken wegen Safari. Pfad validieren! */

  /* alte Farben:
  --hexxen-light-color: #bcceb9;
  --hexxen-dark-color: #084b0a;
  --hexxen-line-color: #4e804f;
  --hexxen-highlight-hover-color:rgba(8, 75, 10, 0.15);
  --hexxen-highlight-even-color: rgba(255, 255, 255, 0.4);
  --hexxen-tab-bgcolor: rgba(8, 75, 10, 0.4);
  --hexxen-header-bgcolor: rgba(8, 75, 10, 0.15);
  */
}

.hexxen.world,
.hexxen.compendium {
  --hexxen-title-color: #666;
  --hexxen-minimized-title-color: rgba(96, 96, 96, 0.75);
  --hexxen-sheet-background-color: #bbb;
}

.hexxen.app {
  background: unset;
  background-color: var(--hexxen-title-color);
}
.hexxen.app.minimized {
  background-color: var(--hexxen-minimized-title-color);
}
.hexxen .sheet img {
  max-width: unset;
}
.hexxen .sheet-header img[data-edit] {
  cursor: pointer;
}

.hexxen .allow-break {
  word-break: break-word;
}
.hexxen .flexrow {
  flex-wrap: unset; /* override system preset */
}
.hexxen .table {
  display: table;
  width: 100%;
  border: var(--hexxen-table-border);
}
.hexxen .table .tr {
  display: table-row;
}
.hexxen .table .tr:nth-child(2n) {
  background-color: var(--hexxen-highlight-even-color);
}
.hexxen .table .tr:nth-child(2n+1) {
  background-color: var(--hexxen-highlight-odd-color);
}
.hexxen .table .tr:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}
.hexxen .table .td {
  display: table-cell;
  padding: 2px 6px;
}
.hexxen .table.inputs .td.label {
  padding: 5px 6px;
}
.hexxen .table .td.flexrow {
  display: flex;
}
.hexxen .table .td input {
  margin-left: -3px;
  margin-right: -3px;
}

.hexxen a.control {
  flex: 0 0 20px;
  text-align: center;
  color: var(--hexxen-dark-color);
}
.hexxen a.item-edit,
.hexxen a.hint {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.hexxen input {
  background-color: var(--hexxen-input-bgcolor);
  border-color: var(--hexxen-input-bordercolor);
  text-align: initial;
}
.hexxen input[type="text"], input[type="password"], input[type="datetime-local"] {
  height: 23px;
}

.hexxen input[data-dtype="Number"] {
  text-align: center !important;
}
.hexxen input::placeholder {
  color: var(--hexxen-input-placeholder-color);
  opacity: 1;
}
.hexxen input.short {
  max-width: 100px;
}

.hexxen .editor {
  min-height: 100px;
  max-height: unset;
  padding: 5px 10px;
  background: var(--hexxen-editor-bgcolor);
  border: var(--hexxen-editor-border);
  border-radius: 3px;
  text-align: justify;
}
.hexxen .editor .editor-content {
  height: 100%;
  overflow-y: unset;
}
.hexxen .editor .tox.tox-tinymce {
  min-height: 150px;
  max-height: 350px;
}
.hexxen .editor p:first-of-type {
  margin-top: 1px;
}
.hexxen .editor p:last-of-type {
  margin-bottom: 1px;
}
.hexxen .dice-formula {
  border: unset;
  box-shadow: unset;
  background: unset;
}
.hexxen .dice-formula + .hexxen.dice-tooltip {
  border-top: 1px solid #999;
  padding-top: 3px;
}
.hexxen.hex-prompt,
.hexxen.hex-roll,
.hexxen.hex-chat,
.hexxen.inline-roll.inline-result {
  background: #DDD;
  padding: 1px 4px;
  border: var(--hexxen-box-border);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.hexxen.inline-roll.inline-result {
  line-height: 26px; /* TODO: besser layouten */
  padding: 2px 4px;
}
.hexxen.dice-roll .roll.dh,
.hexxen.dice-tooltip .roll.dh {
  width: var(--hexxen-chat-dice-size);
  background-image: unset;
}
.hexxen.dice-roll .roll img,
.hexxen.dice-tooltip .roll img {
  vertical-align: top;
  border: 1px solid transparent;
  border-radius: 15%;
}
/* TODO: formula und symbol reorganisieren  */
.hexxen.dice-roll .result-symbol,
.hexxen.inline-result .result-symbol {
  width: 20px;
  height: 20px;
  vertical-align: -3px;
  border: 1px solid black;
  border-radius: 15%;
}
.hexxen.dice-roll .dice-formula img {
  width: 32px;
  height: 32px;
  vertical-align: -7px;
  border: 1px solid transparent;
  border-radius: 15%;
  margin-left: 2px;
}
.hexxen.dice-tooltip .part-formula img {
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  border: 1px solid transparent;
  border-radius: 15%;
  margin-left: 4px;
}
.hexxen.dice-roll .part-total .result-symbol,
.hexxen.dice-tooltip .part-total .result-symbol,
.hexxen.inline-result .result-symbol {
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}
.hexxen.inline-result .result-symbol {
  vertical-align: -3px;
}
.hexxen.dice-roll .part-total .dice-subtotal,
.hexxen.inline-result .dice-subtotal {
  margin: 0 2px;
}
.hexxen.dice-roll .dice-total .dice-subtotal,
.hexxen .dice-formula .part-formula {
  margin: 0 5px;
}

.hexxen .note {
  font-size: 0.8em;
  margin: 2px;
  line-height: initial;
}
.hexxen .hint {
  font-size: 0.8em;
  color: var(--hexxen-hint-color);
  flex: unset;
  line-height: initial;
  margin: unset;
}
.hexxen .hint .inline {
  display: inline-block;
  width: calc(100% - 15px);
}
.hexxen i.fa-info-circle {
  font-size: 0.8em;
  vertical-align: top;
}
.hexxen .seperator {
  display: block;
  width: 100%;
  height: 12px;
  min-height: 12px;
  margin: 10px 0;
  border: none;
  background-image: var(--hexxen-seperator-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hexxen .last {
  height: 1px;
}

.hexxen div.inc-btn {
  position: relative;
}
.hexxen div.inc-btn div.controls {
  display: none;
  font-size: 0.8em;
}
.hexxen div.inc-btn div.controls .control {
  position: absolute;
  line-height: 24px;
  top: 0px;
}
.hexxen div.inc-btn div.controls .left {
  left: 7px;
}
.hexxen div.inc-btn div.controls .right {
  right: 7px;
}

.hexxen.sheet .deco-header {
  flex: 0 0 30px;
  position: relative;
}
.hexxen.sheet .deco-header .header-decoration {
  position: absolute;
  top: -196px;
  width: 100%;
  height: 400px;
  z-index: 10;
  background-image: url("/systems/hexxen-1733/img/sheet_decoration_crow.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  pointer-events: none;
}
.hexxen.sheet .deco-header .window-header {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 20;
}
.hexxen.sheet .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: hidden;
  background-image: var(--hexxen-sheet-background-image);
  background-color: var(--hexxen-sheet-background-color);
}
.hexxen.world.sheet .window-content,
.hexxen.compendium.sheet .window-content {
  background-blend-mode: overlay;
}
.hexxen.sheet .seperator {
  margin: 2px 0;
}
.hexxen.sheet .window-resizable-handle {
  z-index: 50;
  cursor: nwse-resize;
}

.hexxen.sheet .sheet-header {
  position: relative;
  z-index: 15;
  display: grid;
  text-align: center;
  padding: 8px;
}
.hexxen.sheet .sheet-header h1 .value {
  height: 42px;
  line-height: 42px;
  margin: unset;
  width: 100%;
}
.hexxen.sheet div.value.value-box,
.hexxen.sheet span.value.value-box {
  border-bottom: var(--hexxen-value-span-border);
  background-color: var(--hexxen-value-span-bgcolor);
  border-radius: 2px;
  padding: 0 4px;
  text-align: center;
}
.hexxen.sheet .tabs {
  height: 40px;
  background: rgba(255,127,127,0.15);
  background-image: url("/systems/hexxen-1733/img/sheet_decoration_navbar.png");
  background-blend-mode: lighten;
  background-position-x: center;
  background-size: cover;
  border-top: var(--hexxen-nav-border);
  border-bottom: var(--hexxen-nav-border);
  padding: 0px 20px;
  margin: unset;
}
.hexxen.sheet .tabs .item {
  position: relative;
  font-size: 1.15em;
  line-height: 39px;
  font-weight: bold;
  color: #ddc7a9;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 4px crimson, 0 0 6px crimson;
}
.hexxen.sheet .tabs .item.rules-tab {
  flex: 0 0 60px;
}
/* FIXME: ::before statt .item-bg */
.hexxen.sheet .tabs .item.active .item-bg,
.hexxen.sheet .tabs .item:hover .item-bg {
  position: absolute;
  width: calc(min(200px, 100%) + 10px);
  height: 52px;
  top: 2px;
  left: max(0px, calc((100% - 200px)/2));
  color: #191813;
  text-shadow: 0 0 2px #ddc7a9;
    /* background-color: var(--hexxen-nav-active-bgcolor); */
  /* border-radius: 10px 10px 0px 0px; */
  background-image: url("/systems/hexxen-1733/img/sheet_decoration_navbar_active.png");
  background-size: min(100%, 200px) 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* TODO: bessere Lösung für overflow suchen, da Probleme mit Klickbereich. */
  padding: 0 5px;
  margin: 0 -5px;
  text-decoration: none;
  /* text-shadow: -1px -1px var(--hexxen-outline-color),
               -1px  1px var(--hexxen-outline-color),
                1px -1px var(--hexxen-outline-color),
                1px  1px var(--hexxen-outline-color); */
}
.hexxen.sheet .tabs .item:hover:not(.active) .item-bg {
  opacity: 0.65;
}
.hexxen.sheet .tab {
  scrollbar-width: thin;
}
/* TODO: active tab umgestalten: heller statt dunkler, Border unten hell übermalen */
/* .hexxen.sheet .tabs .item.active .item-bg {
  margin: -1px -10px 0px;
  border: 1px solid black;
  border-bottom: unset;
} */
.hexxen.sheet .sheet-body {
  overflow: hidden;
  position: relative; /* FIXME: resize-handle */
  z-index: 10;
}
.hexxen.sheet .sheet-body .tab[data-tab].active {
  display:grid;
}
.hexxen.sheet .sheet-body .tab[data-tab] {
  align-content: start;
  align-items: start;
  grid-auto-rows: max-content;
  grid-gap: 4px;
  overflow-y: auto;
  height: 100%;
  padding: 8px;
}
.hexxen.sheet .sheet-body header {
  color: var(--hexxen-header-color);
  background: var(--hexxen-header-bgcolor);
  border: var(--hexxen-header-border);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}
.hexxen.sheet .sheet-body .block-header {
  margin: 0px -3px;
  padding: 4px 8px 3px;
}
.hexxen.sheet .sheet-body .block-header > * {
  margin: 0 3px;
}
