::selection {
  background: #81a8e6;
}

img#hexxen-logo {
  position: absolute;
  left: 110px;
  top: 2px;
  z-index: 60;
  border: none;
}
#navigation {
  left: 230px;
}
#loading {
  left: 240px;
  width: calc(100% - 560px);
}

.hexxen {
  --hexxen-light-color: rgb(185, 145, 95);
  --hexxen-dark-color: rgb(120, 55, 60);

  --hexxen-title-color: var(--hexxen-dark-color);
  --hexxen-minimized-title-color: rgba(120, 55, 60, 0.75);
  --hexxen-sheet-background-image: url("../img/Hex_Pokerkarte_front_hell.png");
  --hexxen-sheet-background-blend-color: rgba(160, 125, 110, 0.7);

  --hexxen-hint-color: var(--hexxen-dark-color);
  --hexxen-alert-color: red;

  --hexxen-highlight-even-color: rgba(255, 255, 255, 0.5);
  --hexxen-highlight-odd-color: rgba(140, 40, 20, 0.15);
  --hexxen-highlight-hover-color:rgba(140, 40, 20, 0.3);

  --hexxen-value-span-bgcolor: rgba(255, 255, 255, 0.3);
  --hexxen-value-span-border: 1px solid var(--hexxen-dark-color);
  --hexxen-input-bgcolor: rgba(255, 255, 255, 0.8);
  --hexxen-input-bordercolor: var(--hexxen-dark-color);
  --hexxen-input-placeholder-color: var(--hexxen-light-color);
  --hexxen-editor-bgcolor: var(--hexxen-highlight-even-color);
  --hexxen-editor-border: 1px solid var(--hexxen-dark-color);

  --hexxen-box-border: 1px solid var(--hexxen-dark-color);
  --hexxen-nav-background-image: url("../img/Rabenkasten_oben_small.png");
  --hexxen-nav-bgcolor: rgba(80, 30, 0, 0.4);
  --hexxen-nav-border: 1px solid var(--hexxen-dark-color);
  --hexxen-header-color: var(--hexxen-dark-color);
  --hexxen-header-bgcolor: rgba(130, 50, 0, 0.3);
  --hexxen-header-border: 1px solid rgb(170, 120, 75);
  --hexxen-outline-color: var(--hexxen-light-color);
  --hexxen-table-border: 1px solid var(--hexxen-highlight-even-color);
  --hexxen-seperator-image: url("../img/Rabenkasten_weit_unten_small.png");

  scrollbar-color: var(--hexxen-light-color) var(--hexxen-dark-color);

  /* alte Farben:
  --hexxen-light-color: #bcceb9;
  --hexxen-dark-color: #084b0a;
  --hexxen-line-color: #4e804f;
  --hexxen-highlight-hover-color:rgba(8, 75, 10, 0.15);
  --hexxen-highlight-even-color: rgba(255, 255, 255, 0.4);
  --hexxen-tab-bgcolor: rgba(8, 75, 10, 0.4);
  --hexxen-header-bgcolor: rgba(8, 75, 10, 0.15);
  */
}

.hexxen.app {
  background: unset;
  background-color: var(--hexxen-title-color);
}
.hexxen.app.minimized {
  background-color: var(--hexxen-minimized-title-color);
}

.hexxen .allow-break {
  word-break: break-word;
}
.hexxen .flexrow {
  flex-wrap: unset; /* override system preset */
}
.hexxen .table {
  display: table;
  border: var(--hexxen-table-border);
}
.hexxen .table .tr {
  display: table-row;
}
.hexxen .table .tr:nth-child(2n) {
  background-color: var(--hexxen-highlight-even-color);
}
.hexxen .table .tr:nth-child(2n+1) {
  background-color: var(--hexxen-highlight-odd-color);
}
.hexxen .table .tr:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}
.hexxen .table .td {
  display: table-cell;
  padding: 2px 6px;
}
.hexxen .table.inputs .td.label {
  padding: 5px 6px;
}
.hexxen .table .td.flexrow {
  display: flex;
}
.hexxen .table .td input {
  margin-left: -3px;
  margin-right: -3px;
}

.hexxen .control {
  flex: 0 0 20px;
  text-align: center;
  color: var(--hexxen-dark-color);
}

.hexxen input {
  background-color: var(--hexxen-input-bgcolor);
  border-color: var(--hexxen-input-bordercolor);
  text-align: initial;
}
.hexxen input[type="text"], input[type="password"], input[type="datetime-local"] {
  height: 23px;
}

.hexxen input[data-dtype="Number"] {
  text-align: center !important;
}
.hexxen input::placeholder {
  color: var(--hexxen-input-placeholder-color);
  opacity: 1;
}

.hexxen .editor {
  min-height: 100px;
  max-height: unset;
  padding: 5px;
  background: var(--hexxen-editor-bgcolor);
  border: var(--hexxen-editor-border);
  border-radius: 3px;
}
.hexxen .editor .editor-content {
  height: 100%;
}
.hexxen .editor .tox.tox-tinymce {
  min-height: 150px;
  max-height: 350px;
}
/* TODO: auch Chat berücksichtigen */
.hexxen .editor .hex-roll,
.hexxen .editor .hex-chat {
  background: #DDD;
  padding: 1px 4px;
  border: var(--hexxen-box-border);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

.hexxen .note {
  font-size: 0.8em;
  margin: 2px;
  line-height: initial;
}
.hexxen .hint {
  font-size: 0.8em;
  color: var(--hexxen-hint-color);
  flex: unset;
  line-height: initial;
  margin: unset;
}

.hexxen .seperator {
  display: block;
  width: 100%;
  height: 20px;
  min-height: 20px;
  margin: 10px 0;
  border: none;
  background-image: var(--hexxen-seperator-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hexxen div.inc-btn {
  position: relative;
}
.hexxen div.inc-btn div.controls {
  display: none;
  font-size: 0.8em;
}
.hexxen div.inc-btn div.controls .control {
  position: absolute;
  line-height: 24px;
  top: 0px;
}
.hexxen div.inc-btn div.controls .left {
  left: 7px;
}
.hexxen div.inc-btn div.controls .right {
  right: 7px;
}

.hexxen.sheet .window-content {
  height: 100%;
  padding: 0px;
  overflow-y: hidden;
  background-image: var(--hexxen-sheet-background-image);
  background-size: 100% 100%;
  background-color: var(--hexxen-sheet-background-blend-color);
  background-blend-mode: overlay;
}
.hexxen.sheet .seperator {
  margin: 2px 0;
}

.hexxen.sheet .sheet-header {
  padding: 8px;
  text-align: center;
}
.hexxen.sheet .sheet-header h1 .value {
  height: 42px;
  line-height: 42px;
  margin: unset;
  width: 100%;
}
.hexxen.sheet .sheet-header div.value {
  border-bottom: var(--hexxen-value-span-border);
  background-color: var(--hexxen-value-span-bgcolor);
  border-radius: 2px;
  padding: 0 4px;
}
.hexxen.sheet .tabs {
  height: 40px;
  background: var(--hexxen-nav-bgcolor);
  border-top: var(--hexxen-nav-border);
  border-bottom: var(--hexxen-nav-border);
}
.hexxen.sheet .tabs .item {
  font-size: 1.15em;
  line-height: 40px;
  font-weight: bold;
}
.hexxen.sheet .tabs .item.active .item-bg {
  background-image: var(--hexxen-nav-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* TODO: bessere Lösung für overflow suchen, da Probleme mit Klickbereich. */
  padding: 0 10px;
  margin: 0 -10px;
  text-decoration: none;
  text-shadow: -1px -1px var(--hexxen-outline-color),
               -1px  1px var(--hexxen-outline-color),
                1px -1px var(--hexxen-outline-color),
                1px  1px var(--hexxen-outline-color);
}
.hexxen.sheet .sheet-body {
  overflow: hidden;
}
.hexxen.sheet .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
  padding: 8px;
}
.hexxen.sheet .sheet-body header {
  color: var(--hexxen-header-color);
  background: var(--hexxen-header-bgcolor);
  border: var(--hexxen-header-border);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}
.hexxen.sheet .sheet-body .block-header {
  margin: 0px -3px;
  padding: 4px 8px 3px;
}
.hexxen.sheet .sheet-body .block-header > * {
  margin: 0 3px;
}

/* TODO: hier oder rules.css */
.hexxen.sheet.rule {
  min-width: 450px;
  min-height: 400px;
}
.hexxen.sheet.rule .sheet-header .type-img {
  border: none;
}
.hexxen.sheet.rule .sheet-header .sources {
  margin-top: 5px;
  text-align: right;
  font-size: 0.8em;
}
