.hexxen.jaeger {
  min-width: 600px;
  min-height: 500px;
}

.hexxen.jaeger .sheet-header {
  display: grid;
  grid-template-columns: 115px 2fr 1.4fr;
  grid-template-rows: auto 1fr auto auto;
  grid-gap: 6px;
  grid-template-areas:
    'img name name'
    'img stats res'
    'combat combat res'
    'attr attr res';
  white-space: nowrap;
}
.hexxen.jaeger .sheet-header .profile-img {
  height: 115px; /* override system preset */
  border-color: var(--hexxen-input-bordercolor);
}

.hexxen.jaeger .sheet-header .stats {
  font-size: 1.4em;
  height: 1.4em;
}
.hexxen.jaeger .sheet-header .stats .td:nth-child(1) {
  padding: 3px 6px;
}
.hexxen.jaeger .sheet-header .stats .label,
.hexxen.jaeger .sheet-header .stats .value,
.hexxen.jaeger .sheet-header .stats .control {
  height: 28px;
  line-height: 28px;
}
.hexxen.jaeger .sheet-header .stats div.inc-btn div.controls .control {
  top: 4px;
}

.hexxen.jaeger .sheet-header .resources .label {
  overflow: hidden;
  text-overflow: ellipsis;
}

/******************/
/* Common section */
/******************/

.sheet.jaeger .list-header {
  flex: 0;
  margin: 5px 0;
  padding: 5px;
  color: var(--hexxen-header-color);
  background: var(--hexxen-header-bgcolor);
  border: var(--hexxen-header-border);
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.sheet.jaeger .list-header > * {
  margin: 0 3px;
}
.sheet.jaeger .list-body {
  list-style: none;
  margin: 0;
  padding: 0 6px;
}
.sheet.jaeger .list-body li:nth-of-type(2n) {
  background: var(--hexxen-highlight-even-color);
}
.sheet.jaeger .list-body li:nth-of-type(2n+1) {
  background: var(--hexxen-highlight-odd-color);
}
/* TODO: Temporär für alte Listen */
.sheet.jaeger .items-list li:hover,
.sheet.jaeger .list-body li:hover {
  background-color: var(--hexxen-highlight-hover-color) !important;
}

.sheet.jaeger .roll {
  cursor: crosshair; /* TODO: curson icon erstellen */
}


/************************/
/* Sheet header section */
/************************/
/** TODO: prüfen, ob noch notwendig. (vgl. .hexxen.sheet .sheet-header) */
.sheet.jaeger.x .sheet-header {
  display: flex; /* override system preset */
  flex-direction: column; /* override system preset */
}
/*.sheet.jaeger .sheet-header .label,
.sheet.jaeger .sheet-header .value,
.sheet.jaeger .sheet-header .control {
  height: 20px;
  line-height: 20px;
}
.sheet.jaeger .sheet-header span.value {
  border-bottom: var(--hexxen-value-span-border);
  background-color: var(--hexxen-value-span-bgcolor);
  border-radius: 2px;
  padding: 0 4px;
}
.sheet.jaeger .sheet-header input.value {
  min-width: 50px;
  padding: 0 3px;
}*/

/*.sheet.jaeger .sheet-header .top {
  padding-bottom: 8px;
  border-bottom: 1px solid #AAA;
}*/
/** TODO: prüfen, ob noch notwendig. (vgl. .hexxen.sheet .sheet-header h1 input) */
/*.sheet.jaeger .sheet-header h1 input {
  height: 42px;
  line-height: 42px;
  margin: unset;
  width: 100%;
}
.sheet.jaeger .sheet-header .combat {
  margin-top: 8px;
  column-gap: 15%;
}
.sheet.jaeger .sheet-header .combat .value {
  flex: 1.3;
}
.sheet.jaeger .sheet-header .lep {
  margin-top: 8px;
  column-gap: 8%;
  font-size: 1.4em;
}
.sheet.jaeger .sheet-header .lep .label,
.sheet.jaeger .sheet-header .lep .value,
.sheet.jaeger .sheet-header .lep .control{
  height: 28px;
  line-height: 28px;
}
.sheet.jaeger .sheet-header .lep .label {
  flex: 1.5;
}
.sheet.jaeger .sheet-header .lep .label.max {
  flex: 0 0 40px;
}

.sheet.jaeger .sheet-header .attributes {
  margin-top: 8px;
  column-gap: 3%;
}
.sheet.jaeger .sheet-header .attribute .value {
  flex: 1.6;
}
.sheet.jaeger .sheet-header.old .resources {
  margin-top: 6px;
  column-gap: 3%;
}
.sheet.jaeger .sheet-header .resource .label {
  flex: 1.5;
}
.sheet.jaeger .sheet-header .resource .label.max {
  flex: 0 0 15px;
}
.sheet.jaeger .sheet-header .resource .control {
  flex: 0 0 20px;
}*/

/* TODO: teilweise nach hexxen.css auslagern? */
.hexxen.sheet .biography.tab[data-tab].active {
  display:grid;
  align-content: start;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 10px;
}
.hexxen.sheet.jaeger .biography > * {
  grid-column: 1/3;
}
.hexxen.sheet.jaeger .biography .table-1,
.hexxen.sheet.jaeger .biography .table-2 {
  grid-column: auto;
}
.hexxen.sheet.jaeger .biography .table .tr .td:nth-child(1) {
  width: 25%;
  min-width: 75px;
}

.sheet.jaeger .states .top {
  column-gap: 8px;
}
.sheet.jaeger .states .list-body li > *,
.sheet.jaeger .powers .list-body li > *,
.sheet.jaeger .items .list-body li > * {
  min-height: 20px;
  line-height: 20px;
  text-align: inherit;
}
.sheet.jaeger .states .top .list-body .label {
  flex: 1.5;
}
.sheet.jaeger .states .temp .list-body .label,
.sheet.jaeger .items .top .list-body .label {
  flex: 0.5;
}
.sheet.jaeger .states .einfluesse .list-body .control {
  color: red;
}
.sheet.jaeger .states .zustaende .checkbox {
  flex: 0 0 23px;
}
.sheet.jaeger .states .zustaende .effekt {
  flex: 1.5;
}
.sheet.jaeger .states .zustaende .list-body span {
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .states .temp .hint {
  line-height: 0.9em;
  padding: 3px;
}

.sheet.jaeger .flexrow .li-label {
  flex: 5;
}
.sheet.jaeger .combat .li-label {
  flex: 2 2 100px;
}
.sheet.jaeger .flexrow .li-schaden ,
.sheet.jaeger .flexrow .li-ap {
  flex: 0.5 0.5 30px;
}
.sheet.jaeger .flexrow .li-value ,
.sheet.jaeger .flexrow .li-sum {
  flex: 1 1 50px;
}
.sheet.jaeger .flexrow .li-attr {
  flex: 0.5 0.5 50px;
}
.sheet.jaeger .flexrow .li-anmerkung {
  flex: 10 10 100px;
}
.sheet.jaeger .flexrow .li-control {
  flex: 0 0 20px;
}
.sheet.jaeger .list-body li > * {
  margin: 1px 3px;
  min-height: 28px;
  line-height: 28px;
  text-align: center;
}
.sheet.jaeger .list-body .li-label {
  text-align: inherit;
}
.sheet.jaeger .list-body .li-anmerkung {
  text-align: inherit;
  line-height: unset;
}
.sheet.jaeger .list-body span.li-text {
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.sheet.jaeger .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: var(--hexxen-value-span-border);
}
.sheet.jaeger .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.sheet.jaeger .items-list .item-name {
  margin: 0;
}
.sheet.jaeger .items-list .item-controls {
  flex: 0 0 36px;
}
